html {
  color-scheme: light dark;
}

* {
  font-family: system-ui;
}

body {
  margin: 0;
}

main {
  margin: auto;
  max-width: 500px;
  padding: 20px;
}

main > a {
  display: flex;
  gap: 30px;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 20px;
  cursor: default;
}

main > a:not(:last-child) {
  border-bottom: 2px solid #7775;
}

main > a > h1,
main > a > p {
  margin: 0;
}

main > a > p {
  opacity: 0.7;
  font-size: large;
}
